# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.Node Graph.iml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\kyleg\Documents\Git Repo\Node-Based-Behavior-Tree\Node Graph\.idea\.idea.Node Graph\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
